.timerCountdown{
    text-align: center;
    font-size: 100px;  
    font-weight: bold;
    margin-bottom: 10px;
    width: 600px;
    p{
        width: 135px;
        display: inline-block;
        margin: 0;
        padding: 10px;
    }
}
