.timerName{
    border: none;
    background-color: transparent;
    font-size: 26px;
    font-weight: bold;  
    text-align: center;
    color: #cdc7c7;
    margin: 0;
    margin-bottom: 5px;
    outline: none;
    &:focus{
        margin-bottom: 9px;
        border-bottom: 1px solid #0000003a;
    }
}