body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a;
  /* background-color: #1b1717; */
}

.timer {
  width: 800px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #060709;
  color: #cdc7c7;
  border-radius: 20px;
}
.timer__settings {
  width: 800px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #060709;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  
}
.timer__settings-inner {
  background-color: rgb(41, 40, 40);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 190px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
}
.timer__row{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.timer__row label {
  color: #cdc7c7;
  font-size: 18px;
}
.input {
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #cdc7c7;
  /* margin-bottom: 10px; */
  max-width: 350px;
  width: 50px;
  /* margin: 0 auto; */
  margin-left: auto;
  outline: none;
  
}
.input:focus{
  border-bottom: 1px solid #cdc7c7;
}
.timer__settings-btn{
  cursor: pointer;  
  padding: 10px;
  background-color: #cdc7c7;
  display: inline-block;
  width: 120px;
  margin: 10px auto 0;
  border-radius: 10px;
  font-size: 22px;
  transition: all .3s;
}
.timer__settings-btn:hover{
  background-color: #e7e7e7;
}

@media (max-width: 900px) {
  .timer{
    width: 600px;
    height: 400px;
  }
  .timer__settings{
    width: 600px;
    height: 400px;
  }
  .timer__content{
    margin-top: 0px;
  
  }
}
@media (max-width: 700px) {
  .timer{
    width: 550px;
    height: 370px;
  }
  .timer__settings{
    width: 550px;
    height: 370px;
  }
}
@media (max-height: 400px) {
  .timer{
    width: 550px;
    height: 370px;
  }
  .timer__settings{
    width: 550px;
    height: 370px;
  }
}
